<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <title>{{title}}</title>
</head>
<body>
    <section>
        <h1>The Ultimate Piano Teacher</h1>
        <h3>Pick a song to play!</h3>
    </section>
    <section class = "songChoices">
        <section>
            <p>Jingle Bells</p>
            <p>Happy Birthday</p>
            <p>Hot Cross Buns</p>
        </section>
        <section class = "buttons">
            <button id="jingle_bells_button">PLAY</button>
            <button id="happy_birthday_button">PLAY</button>
            <button id="hot_crossed_buns_button">PLAY</button>
        </section>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/button.js"></script>
</body>
</html>
